body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(50% - 27px) center;
    background-color: black;
    background-image: url('https://wallpapercave.com/wp/9Y5Ns7I.jpg');
    min-height: 100vh;
    font-family: 'Avenir', sans-serif;  
    font-weight: bolder;           
}
.flaticon-credit{
    font-size: 5px;
    color: grey;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Remove margins and padding from all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav-bar {
    background-color: #333; /* Dark background for the full width */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#options{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}
#options a{
    text-align: center;
    display: inline-block;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
}
#options a:hover{
    background-color: lightslategray;
    color: black;
}
#options a.active {
    background-color: #4CAF50; /* Add a green background for the active page */
    color: white;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 768px){
    .hamburger{
        display: block;
        background-color: #ddd;
        color: black;
        text-align: center;
    }
#options {
    display: none;
}
#options a {
    display: block;
    width: 100%;
    }   
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 10%;
}